.social-icon {
    color: #214177;
}

.aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}

.wrapper {
    margin: auto;
    padding-top: 40px;
    width: 70%;
}


.imglogo {
    max-width: 200px;
    float: left;
    margin-right: 15px;
    border-radius: 3px;
}